@import url(./__container/comments__container.css);

.comments {
  max-width: 928px;
  margin: 4.25em auto 0;
}


@media all and (min-width: 1280px) {
  .comments {
    max-width: 1184px;
  }
}


@media all and (max-width: 768px) {
  .comments {
    max-width: 660px;
  }
}

@media all and (max-width: 767px) {
  .comments {
    max-width: 343px;
    margin: 4rem auto 0;
  }
}

@media all and (max-width: 375px) {
  .comments {
    max-width: 288px;
  }
}
