.place__title {
  margin: 0;
  font-size: 3em;
  font-weight: 900;
  line-height: 0.9;
  color: #fff;
  white-space: pre;
  grid-area: title;
}

@media all and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media all and (max-width: 767px) {
  .place__title {
    font-size: 2rem;
  }
}

@media all and (max-width: 375px) {
  .place__title {
    margin: 0 0 0 1rem;
    line-height: 1.7;
    white-space: nowrap;
  }
}
