.comment__author {
  margin: 1rem 0 0;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  grid-area: author;
}

@media all and (max-width: 1023px) {
  .comment__author {
    text-align: center;
  }
}
