.header__logo {
  width: 11rem;
  height: 3.25rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.header__logo:hover {
  opacity: .4;
}


@media all and (max-width: 375px) {
  .header__logo {
    width: 8.875rem;
    height: 1.75em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
