@import url(./__logo/header__logo.css);
@import url(./__lang/header__lang.css);
@import url(./__langs/header__langs.css);
@import url(./__lang-switch/header__lang-switch.css);

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 2em ;
  padding-top: 1.25em;
}

@media screen and (min-width: 1440px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 8rem;
    padding-top: 1.25em;
  }
}

@media all and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 1em;
    padding-top: 1.25em;
  }
}

@media all and (max-width: 375px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 1rem;
    padding-top: 1em;
  }
}
