.place__paragraphs {
  max-width: 484px;
  margin: 0;
  grid-area: text;
  align-self: start;
}

@media all and (max-width: 767px) {
  .place__paragraphs {
    margin-top: 1em;
  }
}

@media all and (max-width: 375px) {
  .place__paragraphs {
    margin: 1em 1rem 0;
  }
}
