.intro__opinion {
  margin: 2em 0 0;
  max-width: 43rem;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: #fff;
}

@media all and (max-width: 375px) {
  .intro__opinion {
    margin: 2rem 0 0;
    font-size: 1rem;
  }
}
