.intro__opinion {
  margin: 2em 0 0;
  max-width: 43rem;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: #fff;
}

@media all and (max-width: 767px) {
  .intro__opinion {
    margin: calc(32px + (48 - 32)*(100vw - 376px)/(767 - 376)) 0 0;
    font-size: calc(14px + (16 - 14)*(100vw - 376px)/(767 - 376));
  }
}

@media all and (max-width: 375px) {
  .intro__opinion {
    margin: 2rem 0 0;
    font-size: 1rem;
  }
}
