.content-subtitle {
  margin: 2em 0 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
}

@media all and (max-width: 768px) {
  .content-subtitle {
    margin: 1em 0 0;
  }
}

@media all and (max-width: 767px) {
  .content-subtitle {
    font-size: 1rem;
    white-space: normal;
  }
}

@media all and (max-width: 375px) {
  .content-subtitle {
    margin: 1rem 0 0;
    font-size: 1rem;
  }
}


