.header__item_value-en {
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.header__item_value-en:hover {
  text-decoration: underline;
  opacity: .4;
}
