.intro__title {
  margin: 0 auto;
  font-size: 2.25em;
  line-height: 1.1;
  font-weight: 900;
  color: #fff;
}

@media all and (max-width: 375px) {
  .intro__title {
    font-size: 2rem;
    white-space: pre;
  }
}
